:root{
    --highlight: greenyellow;
    --bg: white;
}
*{font-size: 100%; font-family: 'Cinzel', serif; text-align: center;}
h1{font-size: 3em;}
img{height: 300px; opacity: 0.9; filter: blur(20px) invert(100%); transition: filter 3s linear;}
.main-body{height: auto; background-color:var(--bg); text-align: center;padding: 20px ;margin: auto; border-style:solid; max-width: 60%; border-radius: 10%; box-shadow: 10px 10px 5px --highlight; margin-bottom: 50px;}
.description{max-width: 50%; height: 80px; overflow: auto; font-style: italic; font-size: 1em;}
#colour1{background-color: #077786;}
#colour2{background-color: hsl(308, 62%, 63%);}
#colour3{background-color: rgba(20, 99, 50, 10);}
.colour{float: left; margin-right: 20px;}
#gradient1{background: linear-gradient(to right,hsl(308, 62%, 63%), red);}
#gradient2{background: linear-gradient(to left,hsl(308, 62%, 63%), red);}
#gradient3{background: linear-gradient(to top right,hsl(308, 62%, 63%), red, orange);}
#gradient4{background: radial-gradient(cyan, yellow);}

#panel{position: fixed; top: 0; left: 0; width: 100vw; background-color: var(--highlight); color: white; font-size: calc(100vw/25); margin-bottom: 40px; border-style: outset; border-width: thick; border-color: var(--highlight); transition: background-color 3s linear; transition-timing-function: ease-out;}
#panel:hover{background-color: red; border-style: dotted;}
.first{margin-top: 80px;}
body{background: linear-gradient(to bottom, coral, white );}

#sonic:target{height: 500px; filter: blur(0px) invert(0%);}