:root{
    --bg-color: #f3f1f1;
    --card-color:  white;
    --logo-font: Quando;
}

body{background-color: var(--bg-color); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#top-bar{width: 100vw;}

#top-bar::before, #top-bar::after{
    content: "";
    display: table}

#top-bar::after{clear: both;}

#logo{font-family: var(--logo-font); font-size: 5vh; float: left;}

#nav-bar{
    background-color: var(--card-color);
    box-shadow: 0px 0px 20px lightgray; 
    width: 70vw; 
    float: right;
    margin-right: 6vw;
    border-radius: 25px;
}

#nav-bar .page {
    float: left;
    padding: 10px;
}

#nav-bar input img {
    float: left;
    font-size: 5vh;
    padding: 10px;
    margin-top: 10;
}

#img-profile{ border-radius: 100px;}

#search-box{
    min-width: 50vh;
    border-style: none;
    border-radius: 50px;
    min-height: 20px;
    box-shadow: inset 0 0 10px lightgray;
}
.main-body{
    margin: 0 auto;
    width: 80vw;
}

.card{
    margin: 0 auto;
    background-color: var(--card-color);
    box-shadow: 0px 0px 20px lightgray; 
    padding: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 25px;
}

.read-recently, .recomendation{
    text-align: center;
}

.read-recently .product{
    display: inline-block;
    margin-left: 5vw;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    /* display: inline-block; */
    float: right;
    margin-left: 5px;
    /* margin-top: 10px;*/
}

.container {
    display: inline-block;
    margin-left: 18%;
    text-align: center;
}

.book-container {
    float: left;
    text-align: center;
    min-inline-size: 10%;
}

.sinopses-container {
    float: right;
    text-align: left;
}

.banner{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--logo-font);
    font-size: 5vw;
    padding: 4px;
}

.product{
    /* align-content: center; */
}

.img-product{
    height: 15vh;
    border: 0 auto;
}

.menu-link {
    color: black;
    text-decoration: none;
}

.btn-product{
    border-style: none;
    border-radius: 20px;
    font-size: 2vh;
    padding: 0.5vh;
    background-color: black;
    color: white;
    cursor: pointer;
}